body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(90deg, #ff5dec, #9e4fff, #6de9ff, #77ffc0);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .top-container {
      text-align: center;
      margin-bottom: 40px;
    }

    .HeadLine {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-shadow: 0 4px 12px rgba(0,0,0,0.25);
      margin-top: 55%;
      margin-bottom: 55%;
    }
    .Headline2{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-shadow: 0 4px 12px rgba(0,0,0,0.25);
    }
    .App-List{
        width: 84%;
        height: 60%;
        background: linear-gradient(90deg, #ffa6f5, #bd88ff, #c3f6ff, #a5ffd5);
        border-radius: 15px;
    }
    .item1{
        width: 25%;
        height: 50%;
        margin-left: 0.5%;
    }
    .item1:hover{
        transform: scale(1.2);
    }
    .item2{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: -0.3%;
    }
    .item2:hover{
        transform: scale(1.2);
    }
        
    .item3{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item3:hover{
        transform: scale(1.2);
    }

    .item4{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item4:hover{
        transform: scale(1.2);
    }
    .Social-List{
        width: 84%;
        height: 60%;
        background: linear-gradient(90deg, #ffa6f5, #bd88ff, #c3f6ff, #a5ffd5);
        border-radius: 15px;
    }
    .item5{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item5:hover{
        transform: scale(1.2);
    }
    .item6{
        width: 20%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:2%;
        margin-left: -3%;
    }
    .item6:hover{
        transform: scale(1.2);
    }
    .item7{
        width: 14%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: 0.5%;
    }
    .item7:hover{
        transform: scale(1.2);
    }
    .item8{
        width: 24%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: -3%;
    }
    .item8:hover{
        transform: scale(1.2);
    }
    .item9{
        width: 14%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: -3%;
        border-radius: 15px;
    }
    .item9:hover{
        transform: scale(1.2);
    }

