body {
      margin: 0;
      font-family: "Poppins", sans-serif;
      background: linear-gradient(90deg, #ff5dec, #9e4fff, #6de9ff, #77ffc0);
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 100vh;
    }

    .top-container {
      text-align: center;
      margin-bottom: 40px;
    }

    .HeadLine {
      font-size: 2.5rem;
      font-weight: 700;
      letter-spacing: 2px;
      text-shadow: 0 4px 12px rgba(0,0,0,0.25);
      margin-top: 55%;
      margin-bottom: 55%;
    }
    .Headline2{
      font-size: 1.5rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-shadow: 0 4px 12px rgba(0,0,0,0.25);
    }
    .App-List{
        width: 84%;
        height: 60%;
        background: linear-gradient(90deg, #ffa6f5, #bd88ff, #c3f6ff, #a5ffd5);
        border-radius: 15px;
    }
    .item1{
        width: 25%;
        height: 50%;
        margin-left: 0.5%;
    }
    .item1:hover{
        transform: scale(1.2);
    }
    .item2{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: -0.3%;
    }
    .item2:hover{
        transform: scale(1.2);
    }
        
    .item3{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item3:hover{
        transform: scale(1.2);
    }

    .item4{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item4:hover{
        transform: scale(1.2);
    }
    .Social-List{
        width: 84%;
        height: 60%;
        background: linear-gradient(90deg, #ffa6f5, #bd88ff, #c3f6ff, #a5ffd5);
        border-radius: 15px;
    }
    .item5{
        width: 22%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:1.5%;
        margin-left: 0.5%;
    }
    .item5:hover{
        transform: scale(1.2);
    }
    .item6{
        width: 20%;
        height: 50%;
        margin-top: 1.5%;
        margin-bottom:2%;
        margin-left: -3%;
    }
    .item6:hover{
        transform: scale(1.2);
    }
    .item7{
        width: 14%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: 0.5%;
    }
    .item7:hover{
        transform: scale(1.2);
    }
    .item8{
        width: 24%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 0%;
        margin-left: -3%;
    }
    .item8:hover{
        transform: scale(1.2);
    }
    .item9{
        width: 14%;
        height: 50%;
        margin-top: 0%;
        margin-bottom: 5%;
        margin-left: -3%;
        border-radius: 15px;
    }
    .item9:hover{
        transform: scale(1.2);
    }
    .Final-List{
        width: 84%;
        height: 60%;
        background: linear-gradient(90deg, #ffa6f5, #bd88ff, #c3f6ff, #a5ffd5);
        border-radius: 15px;
        margin-bottom: 3%;
    }
    .placeholder1{
        width: 22%;
        height: 50%;
        margin-left: 0.5%;
        border-radius: 15px;
    }
    .placeholder1:hover{
        transform: scale(1.2);
    }
    .placeholder2{
        width: 22%;
        height: 50%;
        margin-left: 0.5%;
        border-radius: 15px;
    }
    .placeholder2:hover{
        transform: scale(1.2);
    }
    .placeholder3{
        width: 22%;
        height: 50%;
        margin-left: 0.5%;
        border-radius: 15px;
    }
    .placeholder3:hover{
        transform: scale(1.2);
    }
    .placeholder4{
        width: 22%;
        height: 50%;
        margin-left: 0.5%;
        border-radius: 15px;
    }
    .placeholder4:hover{
        transform: scale(1.2);
    }
    .CONTINUE{
        width: 80%;
        height: 60%;
        background: transparent;
        border-radius: 15px;
        margin-bottom: 20%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .continue-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      background-color: white;
      color: #000000;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      margin-left: 5%;
      margin-right: 5%;
    }

    .continue-button:hover {
      background:linear-gradient(90deg, #ffbaf7, #cca2ff, #96efff, #9cffd1);
      color: rgb(255, 255, 255);
      transform: translateY(-2px);
      transform: scale(1.2);
      box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }
     .reset-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      background-color: white;
      color: #000000;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);

      
    }

    .reset-button:hover {
      background:linear-gradient(90deg, #79e4ff, #296dff, #4704ff, #52c0ff);
      color: rgb(255, 255, 255);
      transform: translateY(-2px);
      transform: scale(1.2);
      box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }
    .support-button {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px 20px;
      border: none;
      border-radius: 12px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      background-color: white;
      color: #000000;
      transition: all 0.3s ease;
      box-shadow: 0 4px 12px rgba(0,0,0,0.2);
      
    }

    .support-button:hover {
      background:linear-gradient(90deg, #ff0000, #ff5d5d, #ff1a1a, #a50000);
      color: rgb(255, 255, 255);
      transform: translateY(-2px);
      transform: scale(1.2);
      box-shadow: 0 6px 16px rgba(0,0,0,0.25);
    }
    .Info-Text{
        width: 80%;
        height: 60%;
        background: linear-gradient(90deg, #feb6f6, #d9bcfd, #b4f1fc, #bbfadd);
        border-radius: 15px;
        margin-bottom: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .greeting{
        font-family:'Arial Narrow Bold', sans-serif;
        font-size: 1rem;
        font-weight: 700;
        color:#000000;
        margin-left: 3%;
        margin-right: 3%;
    }
    .Paragraph-info{
        font-family: "Helvetica";
        font-size: 1rem;
        color:#000000;
        margin-left: 3%;
        margin-right: 3%;
        text-align: justify;
    }

